.lmj-plant-list {
	list-style-type: none;
	padding: 32px;
	display: flex;
	flex-wrap: wrap;
	margin-top: 80px;
	justify-content: center;
}

.lmj-sales {
	position: absolute;
	right: 0px;
	top: 10px;
	font-weight: 500;
	color: white;
	padding: 5px 10px;
	background-color: #31b572;
}
.container{
	width: 80%;
}

.container-categories{
	display: flex;
	justify-content: center;
	margin-top: 20px;
}